{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "KEY_VAULT_URL": "https://<vault-name>.vault.azure.net/",
    "EIA_SECRET_NAME": "eia-api-key",
    "CENSUS_SECRET_NAME": "census-api-key",
    "STORAGE_ACCOUNT_URL": "https://<storage-name>.blob.core.windows.net",
    "RAW_CONTAINER_NAME": "raw",
    "INGEST_SCHEDULE": "0 0 6 * * *"
  }
}
